body{
    background-color:white;
    background-image:url(./images/kitchen\ gradient\ 3.jpg);
    background-repeat: repeat-x;
    margin: 15px;
}
@media (max-width:414px){
    body{
        margin:5px;
        padding-top:5px;

    }
}

#main-row{
    margin-top:50px;
}
@media (max-width:414px){
    #main-row{
        margin-top: 15px;
    }
}


#main-container{
    margin-top: 20px;
    
}

@media (min-width:993px){
#main-forms-container{
    margin-left:45px;
    margin-right:30px;
}}

.title-text{
    margin-top:45px;
}

@media (max-width:500px){
    .title-text{
        margin-top:5px;
    }
}

#results-recipe-row{
    padding-top:0;
    padding-left:0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

#results-recipe-col{
    /* padding:20px; */
}

#ingredients{
    margin: 30px;
}

#search-card{
    /* padding: 10px; */
    
}

#form-column{
    margin-bottom: 15px;
    margin-left: 15px;
}

#card-col{
    margin-top: 25px; 
}

@media (max-width:414px){
    #card-col{
        margin-top:5px;
    }
}

.checkbox-item{
    margin-left: 25px;
    margin-right: 25px;
}

.displayNone{
    display:none;
}


footer{
    width: 100%;
}

.image-width{
    max-width: 80% !important;
}

#recipe-view{
    padding-top:15px;
}

#results-header-row{
    margin: 0px;
}

#result-h3{
    margin-bottom:0;
}

.results-card{
    padding-top: 5px;
    padding-bottom: 15px;
}

#recipeHeader {
    padding-left:30px;
    padding-right: 30px;
}

#header-text{
    padding-left:40px;
}

#footer{
    width: 100%;
}